[Unit]
Description=GPIO Keyboard Emulator (C)
After=multi-user.target

[Service]
ExecStart=/home/pmroot/rpi-gpio-keyboard-c/gpio_keyboard
Restart=always
User=root

[Install]
WantedBy=multi-user.target